

.quantityControl{
    display: grid;
    grid-template-columns: repeat(2, 70px);
    grid-template-rows: repeat(3, 1fr);
}

.quantityControl > button {
    grid-column: span 2;
    grid-row: span 2;
    place-self: center;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    width: 100%;
    border-radius: 5px;
    padding: 5px;
}

.quantityControl > button:active{
    background-color: #D96941;
}


.quantityControl > label{
    font-size: 1.2em;
    justify-self: end;
    margin-right: 3px;
}

.quantityControl > input{
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}
