@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;600&display=swap');

$base-color: #193C40;
$secondary-color: #D96941;

.primary-background{
  background-color: #193C40;
}

.secondary-background{
  background-color: #D96941;
}

.accent-secondary{
  background-color: #A62B1F;
}
